<section class="clients js-clients-slider">
    <div class="clients__content">
        <div class="clients__top-row">
            <div class="clients__amount-wrapper">
                <div class="clients__amount">
                    5418
                </div>
                <div class="clients__amount-text">
                    довольных<br> клиентов
                </div>
            </div>

            <div class="clients__arrows">
                <button class="clients__arrow clients__arrow--prev" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="clients__arrow clients__arrow--next" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="clients__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="clients__slider-card">
                            <div class="clients__slider-card-image-container">
                                <img src="/images/clients/1.webp" alt="" class="clients__slider-card-image"
                                    loading="lazy">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients__slider-card">
                            <div class="clients__slider-card-image-container">
                                <img src="/images/clients/2.webp" alt="" class="clients__slider-card-image"
                                    loading="lazy">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients__slider-card">
                            <div class="clients__slider-card-image-container">
                                <img src="/images/clients/3.webp" alt="" class="clients__slider-card-image"
                                    loading="lazy">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients__slider-card">
                            <div class="clients__slider-card-image-container">
                                <img src="/images/clients/4.webp" alt="" class="clients__slider-card-image"
                                    loading="lazy">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients__slider-card">
                            <div class="clients__slider-card-image-container">
                                <img src="/images/clients/1.webp" alt="" class="clients__slider-card-image"
                                    loading="lazy">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients__slider-card">
                            <div class="clients__slider-card-image-container">
                                <img src="/images/clients/2.webp" alt="" class="clients__slider-card-image"
                                    loading="lazy">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients__slider-card">
                            <div class="clients__slider-card-image-container">
                                <img src="/images/clients/3.webp" alt="" class="clients__slider-card-image"
                                    loading="lazy">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="clients__slider-card">
                            <div class="clients__slider-card-image-container">
                                <img src="/images/clients/4.webp" alt="" class="clients__slider-card-image"
                                    loading="lazy">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>