<section class="creation" id="items">
    <div class="creation__content">
        <h2 class="creation__heading js-reveal-heading">
            Мы не просто создаем украшения,<br> мы создаем воспоминания
        </h2>
        <div class="creation__slider js-creation-slider js-fade-reveal">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide--wide">
                        <a href="#callback-modal" class="creation__slider-card">
                            <div class="creation__slider-card-image-wrapper">
                                <img src="/images/new-photos/1.webp" alt="" class="creation__slider-card-image">
                            </div>
                            <h3 class="creation__slider-card-title">
                                На свадьбу
                            </h3>
                            <div class="creation__slider-card-popover">
                                <div class="creation__slider-card-popover-bg">
                                    <img src="/images/creation-popover/2.webp" alt=""
                                        class="creation__slider-card-popover-bg-image">

                                </div>
                                <div class="creation__slider-card-popover-btn">
                                    Заказать
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#callback-modal" class="creation__slider-card">
                            <div class="creation__slider-card-image-wrapper">
                                <img src="/images/new-photos/2.webp" alt="" class="creation__slider-card-image">
                            </div>
                            <h3 class="creation__slider-card-title">
                                Деловой презент
                            </h3>
                            <div class="creation__slider-card-popover">
                                <div class="creation__slider-card-popover-bg">
                                    <img src="/images/creation-popover/1.webp" alt=""
                                        class="creation__slider-card-popover-bg-image">

                                </div>
                                <div class="creation__slider-card-popover-btn">
                                    Заказать
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#callback-modal" class="creation__slider-card">
                            <div class="creation__slider-card-image-wrapper">
                                <img src="/images/new-photos/3.webp" alt="" class="creation__slider-card-image">
                            </div>
                            <h3 class="creation__slider-card-title">
                                Символические
                                украшения
                            </h3>
                            <div class="creation__slider-card-popover">
                                <div class="creation__slider-card-popover-bg">
                                    <img src="/images/creation-popover/1.webp" alt=""
                                        class="creation__slider-card-popover-bg-image">

                                </div>
                                <div class="creation__slider-card-popover-btn">
                                    Заказать
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="creation__slider-empty-block">

                    </div>
                    <div class="swiper-slide">
                        <a href="#callback-modal" class="creation__slider-card">
                            <div class="creation__slider-card-image-wrapper">
                                <img src="/images/new-photos/4.webp" alt="" class="creation__slider-card-image">
                            </div>
                            <h3 class="creation__slider-card-title">
                                деловой презент
                            </h3>
                            <div class="creation__slider-card-popover">
                                <div class="creation__slider-card-popover-bg">
                                    <img src="/images/creation-popover/1.webp" alt=""
                                        class="creation__slider-card-popover-bg-image">

                                </div>
                                <div class="creation__slider-card-popover-btn">
                                    Заказать
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide swiper-slide--wide">
                        <a href="#callback-modal" class="creation__slider-card">
                            <div class="creation__slider-card-image-wrapper">
                                <img src="/images/new-photos/5.webp" alt="" class="creation__slider-card-image">
                            </div>
                            <h3 class="creation__slider-card-title">
                                для помолвки
                            </h3>
                            <div class="creation__slider-card-popover">
                                <div class="creation__slider-card-popover-bg">
                                    <img src="/images/creation-popover/2.webp" alt=""
                                        class="creation__slider-card-popover-bg-image">

                                </div>
                                <div class="creation__slider-card-popover-btn">
                                    Заказать
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide swiper-slide--wide">
                        <a href="#callback-modal" class="creation__slider-card">
                            <div class="creation__slider-card-image-wrapper">
                                <img src="/images/new-photos/6.webp" alt="" class="creation__slider-card-image">
                            </div>
                            <h3 class="creation__slider-card-title">
                                для помолвки
                            </h3>
                            <div class="creation__slider-card-popover">
                                <div class="creation__slider-card-popover-bg">
                                    <img src="/images/creation-popover/2.webp" alt=""
                                        class="creation__slider-card-popover-bg-image">

                                </div>
                                <div class="creation__slider-card-popover-btn">
                                    Заказать
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#callback-modal" class="creation__slider-card">
                            <div class="creation__slider-card-image-wrapper">
                                <img src="/images/new-photos/7.webp" alt="" class="creation__slider-card-image">
                            </div>
                            <h3 class="creation__slider-card-title">
                                Духовный подарок
                            </h3>
                            <div class="creation__slider-card-popover">
                                <div class="creation__slider-card-popover-bg">
                                    <img src="/images/creation-popover/1.webp" alt=""
                                        class="creation__slider-card-popover-bg-image">

                                </div>
                                <div class="creation__slider-card-popover-btn">
                                    Заказать
                                </div>

                            </div>
                        </a>
                    </div>

                    <div class="creation__slider-empty-block">

                    </div>
                </div>
            </div>
        </div>
        <a href="#callback-modal" class="creation__order-btn js-modal-open">
            Заказать
        </a>
    </div>
</section>