<section class="dreams js-dreams-slider">
    <div class="dreams__content">
        <div class="dreams__top-row">
            <h2 class="dreams__heading js-reveal-heading">
                Воплощаем в жизнь ваши мечты
            </h2>
            <div class="dreams__arrows">
                <button class="dreams__arrow dreams__arrow--prev" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-left"></use>
                    </svg>
                </button>
                <button class="dreams__arrow dreams__arrow--next" type="button">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#slider-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="dreams__slider js-fade-reveal">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="dreams__card">
                            <div class="dreams__card-content">
                                <h3 class="dreams__card-title">
                                    «Услышали мои мысли»
                                </h3>
                                <div class="dreams__card-text">
                                    Когда я обратилась к студию Dasaev, у меня не было четкого представления что именно
                                    я хочу, но менеджер очень чутко выслушала меня и предложила разные варианты, один из
                                    которых мне идеально подошел! Спасибо вам большое! Я не знаю как, но вы услышали мои
                                    мысли и воплотили их в жизнь!
                                </div>
                                <div class="dreams__card-author">
                                    Инна Гайдуллина
                                </div>
                            </div>
                            <div class="dreams__card-image-wrapper">
                                <img src="/images/dreams/1.webp" alt="" class="dreams__card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="dreams__card">
                            <div class="dreams__card-content">
                                <h3 class="dreams__card-title">
                                    «Исполнили наши мечты»
                                </h3>
                                <div class="dreams__card-text">
                                    Когда я обратилась к студию Dasaev, у меня не было четкого представления что именно
                                    я хочу, но менеджер очень чутко выслушала меня и предложила разные варианты, один из
                                    которых мне идеально подошел! Спасибо вам большое! Я не знаю как, но вы услышали мои
                                    мысли и воплотили их в жизнь!
                                </div>
                                <div class="dreams__card-author">
                                    Артур и Ангелина
                                </div>
                            </div>
                            <a href="https://www.youtube.com/watch?v=otw0zQ0NSa4&ab_channel=DaveGray"
                                class="dreams__card-image-wrapper" data-fancybox="">
                                <img src="/images/dreams/2.webp" alt="" class="dreams__card-image">
                                <div class="dreams__card-play">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#play"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="dreams__card">
                            <div class="dreams__card-content">
                                <h3 class="dreams__card-title">
                                    «Услышали мои мысли»
                                </h3>
                                <div class="dreams__card-text">
                                    Когда я обратилась к студию Dasaev, у меня не было четкого представления что именно
                                    я хочу, но менеджер очень чутко выслушала меня и предложила разные варианты, один из
                                    которых мне идеально подошел! Спасибо вам большое! Я не знаю как, но вы услышали мои
                                    мысли и воплотили их в жизнь!
                                </div>
                                <div class="dreams__card-author">
                                    Инна Гайдуллина
                                </div>
                            </div>
                            <div class="dreams__card-image-wrapper">
                                <img src="/images/dreams/1.webp" alt="" class="dreams__card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="dreams__card">
                            <div class="dreams__card-content">
                                <h3 class="dreams__card-title">
                                    «Исполнили наши мечты»
                                </h3>
                                <div class="dreams__card-text">
                                    Когда я обратилась к студию Dasaev, у меня не было четкого представления что именно
                                    я хочу, но менеджер очень чутко выслушала меня и предложила разные варианты, один из
                                    которых мне идеально подошел! Спасибо вам большое! Я не знаю как, но вы услышали мои
                                    мысли и воплотили их в жизнь!
                                </div>
                                <div class="dreams__card-author">
                                    Артур и Ангелина
                                </div>
                            </div>
                            <div class="dreams__card-image-wrapper">
                                <img src="/images/dreams/2.webp" alt="" class="dreams__card-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dreams__slider-pagination">

            </div>
        </div>
    </div>
</section>