<section class="faq">
    <div class="faq__content">
        <h2 class="faq__heading">
            Популярные вопросы от&nbsp;клиентов
        </h2>
        <div class="faq__accordions">
            <div class="faq__accordion js-accordion" data-close-other="">
                <button class="faq__accordion-btn js-accordion-btn">
                    <span class="faq__accordion-btn-text">
                        Какая форма огранки лучше — круглая или фантазийная?
                    </span>
                    <span class="faq__accordion-btn-icon">

                    </span>
                </button>
                <div class="faq__accordion-content js-accordion-content">
                    <div class="faq__accordion-content-inner">
                        <div class="faq__accordion-text">
                            Проба золота – это маркировка, которая указывает соотношение чистого золота и примесей в
                            сплаве.
                            Дело в том, что 100% золото - материал очень мягкий. Настолько, что его можно помять
                            пальцами.
                            Поэтому в ювелирной и ряде других промышленностей используют сплав золота c лигатурой
                            (добавками).
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq__accordion js-accordion" data-close-other="">
                <button class="faq__accordion-btn js-accordion-btn">
                    <span class="faq__accordion-btn-text">
                        Чем отличается российская система оценки качества огранки от международной? Какого цвета должно
                        быть настоящее золото?
                    </span>
                    <span class="faq__accordion-btn-icon">

                    </span>
                </button>
                <div class="faq__accordion-content js-accordion-content">
                    <div class="faq__accordion-content-inner">
                        <div class="faq__accordion-text">
                            Проба золота – это маркировка, которая указывает соотношение чистого золота и примесей в
                            сплаве.
                            Дело в том, что 100% золото - материал очень мягкий. Настолько, что его можно помять
                            пальцами.
                            Поэтому в ювелирной и ряде других промышленностей используют сплав золота c лигатурой
                            (добавками).
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq__accordion js-accordion" data-close-other="">
                <button class="faq__accordion-btn js-accordion-btn">
                    <span class="faq__accordion-btn-text">
                        Почему золото имеет разный цвет?
                    </span>
                    <span class="faq__accordion-btn-icon">

                    </span>
                </button>
                <div class="faq__accordion-content js-accordion-content">
                    <div class="faq__accordion-content-inner">
                        <div class="faq__accordion-text">
                            Проба золота – это маркировка, которая указывает соотношение чистого золота и примесей в
                            сплаве.
                            Дело в том, что 100% золото - материал очень мягкий. Настолько, что его можно помять
                            пальцами.
                            Поэтому в ювелирной и ряде других промышленностей используют сплав золота c лигатурой
                            (добавками).
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq__accordion js-accordion" data-close-other="">
                <button class="faq__accordion-btn js-accordion-btn">
                    <span class="faq__accordion-btn-text">
                        Что такое проба?
                    </span>
                    <span class="faq__accordion-btn-icon">

                    </span>
                </button>
                <div class="faq__accordion-content js-accordion-content">
                    <div class="faq__accordion-content-inner">
                        <div class="faq__accordion-text">
                            Проба золота – это маркировка, которая указывает соотношение чистого золота и примесей в
                            сплаве.
                            Дело в том, что 100% золото - материал очень мягкий. Настолько, что его можно помять
                            пальцами.
                            Поэтому в ювелирной и ряде других промышленностей используют сплав золота c лигатурой
                            (добавками).
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq__accordion js-accordion" data-close-other="">
                <button class="faq__accordion-btn js-accordion-btn">
                    <span class="faq__accordion-btn-text">
                        Какие бриллианты лучше подходят для инвестиций?
                    </span>
                    <span class="faq__accordion-btn-icon">

                    </span>
                </button>
                <div class="faq__accordion-content js-accordion-content">
                    <div class="faq__accordion-content-inner">
                        <div class="faq__accordion-text">
                            Проба золота – это маркировка, которая указывает соотношение чистого золота и примесей в
                            сплаве.
                            Дело в том, что 100% золото - материал очень мягкий. Настолько, что его можно помять
                            пальцами.
                            Поэтому в ювелирной и ряде других промышленностей используют сплав золота c лигатурой
                            (добавками).
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>