<header class="page-header">
    <div class="page-header__content">
        <div class="page-header__menu" data-lenis-prevent="">
            <div class="page-header__menu-inner">
                <div class="page-header__nav-first-wrapper">
                    <div class="page-header__nav">
                        <ul>
                            <li>
                                <a href="#items">
                                    Изделия
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    О нас
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Как мы работаем
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Портфолио
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="page-header__nav-second-wrapper">
                    <div class="page-header__nav">
                        <ul>
                            <li>
                                <a href="#">
                                    Отзывы
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    8 (843) 231-83-36
                                </a>
                            </li>
                            <li>
                                <a href="#callback-modal">
                                    Сделать заказ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="page-header__social-list">
                    <li class="page-header__social-list-item">
                        <a href="#" class="page-header__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#vk"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-header__social-list-item">
                        <a href="#" class="page-header__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-header__social-list-item">
                        <a href="#" class="page-header__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#whatsapp"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <a href="#" class="page-header__logo">
            <img src="/images/logo-white.webp" alt="" class="page-header__logo-image">
        </a>
        <button class="page-header__burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>