<section class="implement">
    <div class="implement__content">
        <h2 class="implement__heading js-reveal-heading">
            Воплотим ваши идеи&nbsp;в&nbsp;реальность?
        </h2>
        <div class="implement__heading-text js-fade-reveal">
            Свяжитесь с нами через любой удобный мессенджер для бесплатной консультации с ювелиром-дизайнером. Поможем
            определиться со стилем, подберем материалы и разработаем реалистичную 3D-модель.
        </div>
        <div class="implement__slider js-implement-slider js-fade-reveal">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="implement__slider-card">
                            <div class="implement__slider-card-image-wrapper">
                                <img src="/images/implement/1.webp" alt="" class="implement__slider-card-image">
                            </div>
                        </div>
                    </div>
                    <div class="implement__empty-card">

                    </div>
                    <div class="swiper-slide">
                        <div class="implement__slider-card">
                            <div class="implement__slider-card-image-wrapper">
                                <img src="/images/implement/2.webp" alt="" class="implement__slider-card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide--large">
                        <div class="implement__slider-card">
                            <div class="implement__slider-card-image-wrapper">
                                <img src="/images/implement/7.webp" alt="" class="implement__slider-card-image">
                            </div>
                        </div>
                    </div>
                    <div class="implement__empty-card">

                    </div>
                    <div class="swiper-slide">
                        <div class="implement__slider-card">
                            <div class="implement__slider-card-image-wrapper">
                                <img src="/images/implement/3.webp" alt="" class="implement__slider-card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="implement__slider-card">
                            <div class="implement__slider-card-image-wrapper">
                                <img src="/images/implement/4.webp" alt="" class="implement__slider-card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="implement__slider-card">
                            <div class="implement__slider-card-image-wrapper">
                                <img src="/images/implement/5.webp" alt="" class="implement__slider-card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="implement__slider-card">
                            <div class="implement__slider-card-image-wrapper">
                                <img src="/images/implement/6.webp" alt="" class="implement__slider-card-image">
                            </div>
                        </div>
                    </div>
                    <div class="implement__empty-card">

                    </div>
                    <div class="swiper-slide">
                        <div class="implement__slider-card">
                            <div class="implement__slider-card-image-wrapper">
                                <img src="/images/implement/8.webp" alt="" class="implement__slider-card-image">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="implement__slider-card">
                            <div class="implement__slider-card-image-wrapper">
                                <img src="/images/implement/9.webp" alt="" class="implement__slider-card-image">
                            </div>
                        </div>
                    </div>
                    <div class="implement__empty-card">

                    </div>
                </div>
            </div>
        </div>
        <div class="implement__buttons">
            <a href="#" class="implement__btn">
                Telegram
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#telegram"></use>
                </svg>
            </a>
            <a href="#" class="implement__btn">
                WhatsApp
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#telegram"></use>
                </svg>
            </a>
        </div>
    </div>
</section>