<section class="intro">
    <div class="intro__top">
        <div class="intro__top-inner">
            <h1 class="intro__heading">
                Создайте свою драгоценную историю вместе с DASAEV
            </h1>
        </div>
    </div>
    <div class="intro__bottom">
        <div class="intro__bg">
            <img src="/images/intro.webp" alt="" class="intro__bg-image">
        </div>
        <div class="intro__bottom-content">
            <div class="intro__wrapper">


                <div class="intro__quote">
                    <div class="intro__quote-text">
                        Ваше событие — наша забота и вдохновение.
                    </div>
                    <div class="intro__quote-author">
                        С уважением, Дасаева Айгуль
                    </div>
                </div>
                <a href="#callback-modal" class="intro__order-btn js-modal-open">
                    <div class="intro__order-btn-content">
                        Сделать заказ
                    </div>

                </a>
            </div>
        </div>
    </div>
</section>