<div class="modal js-modal" id="success">
    <div class="modal__inner modal__inner--success">
        <button class="modal__close js-modal-close">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__success">
            <div class="modal__success-inner">
                <img src="/images/ok.svg" alt="" class="modal__success-icon">
                <h3 class="modal__success-heading">
                    Спасибо за вашу заявку!
                </h3>
                <div class="modal__success-text">
                    Наш менеджер свяжется с вами в ближайшее время.
                </div>
                <button class="modal__success-close-btn js-modal-close" type="button">
                    Вернуться на сайт
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal js-modal" id="error">
    <div class="modal__inner modal__inner--success">
        <button class="modal__close js-modal-close">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="modal__success">
            <div class="modal__success-inner">
                <h3 class="modal__success-heading">
                    Произошла ошибка
                </h3>
                <button class="modal__success-close-btn js-modal-close" type="button">
                    Вернуться на сайт
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal js-modal" id="callback-modal">
    <div class="modal__inner modal__inner--callback">
        <button class="modal__close js-modal-close">
            <svg width="14" height="14" aria-hidden="true">
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="callback__wrapper">
            <div class="callback__left-col">
                <h2 class="callback__heading">
                    Оставьте заявку и мы пришлем вам расчет со <b>скидкой 12%</b>
                </h2>
                <img src="/images/callback-image.webp" alt="" class="callback__image">
            </div>
            <div class="callback__right-col">
                <form action="/" method="POST" class="callback__form js-form">
                    <div class="callback__form-checkboxes-groups">
                        <div class="callback__form-checkboxes-group js-select">
                            <h3 class="callback__form-checkboxes-group-heading">
                                Тип изделия
                            </h3>
                            <button class="callback__form-checkboxes-group-btn" type="button">
                                <span class="callback__form-checkboxes-group-btn-text">

                                </span>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </button>
                            <div class="callback__form-checkboxes-group-hidden">
                                <div class="callback__form-checkboxes-group-hidden-inner">
                                    <div class="callback__form-checkboxes">
                                        <label class="callback__form-checkbox">
                                            <input type="radio" name="type" value="1"
                                                class="callback__form-checkbox-input">
                                            <span class="callback__form-checkbox-text">
                                                Кольцо
                                            </span>
                                        </label>
                                        <label class="callback__form-checkbox">
                                            <input type="radio" name="type" value="2"
                                                class="callback__form-checkbox-input">
                                            <span class="callback__form-checkbox-text">
                                                Браслет
                                            </span>
                                        </label>
                                        <label class="callback__form-checkbox">
                                            <input type="radio" name="type" value="3"
                                                class="callback__form-checkbox-input" checked="">
                                            <span class="callback__form-checkbox-text">
                                                Серьги
                                            </span>
                                        </label>
                                        <label class="callback__form-checkbox">
                                            <input type="radio" name="type" value="4"
                                                class="callback__form-checkbox-input">
                                            <span class="callback__form-checkbox-text">
                                                Перстень
                                            </span>
                                        </label>
                                        <label class="callback__form-checkbox">
                                            <input type="radio" name="type" value="5"
                                                class="callback__form-checkbox-input">
                                            <span class="callback__form-checkbox-text">
                                                Подвеска
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="callback__form-checkboxes-group js-select">
                            <h3 class="callback__form-checkboxes-group-heading">
                                Материал
                            </h3>
                            <button class="callback__form-checkboxes-group-btn" type="button">
                                <span class="callback__form-checkboxes-group-btn-text">

                                </span>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </button>
                            <div class="callback__form-checkboxes-group-hidden">
                                <div class="callback__form-checkboxes-group-hidden-inner">
                                    <div class="callback__form-checkboxes">
                                        <label class="callback__form-checkbox">
                                            <input type="radio" name="material" value="1"
                                                class="callback__form-checkbox-input">
                                            <span class="callback__form-checkbox-text">
                                                Серебро
                                            </span>
                                        </label>
                                        <label class="callback__form-checkbox">
                                            <input type="radio" name="material" value="2"
                                                class="callback__form-checkbox-input" checked="">
                                            <span class="callback__form-checkbox-text">
                                                Платина
                                            </span>
                                        </label>
                                        <label class="callback__form-checkbox">
                                            <input type="radio" name="material" value="3"
                                                class="callback__form-checkbox-input">
                                            <span class="callback__form-checkbox-text">
                                                Золото
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="callback__form-checkboxes-group js-select">
                            <h3 class="callback__form-checkboxes-group-heading">
                                Срок
                            </h3>
                            <button class="callback__form-checkboxes-group-btn" type="button">
                                <span class="callback__form-checkboxes-group-btn-text">

                                </span>
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#arrow-down"></use>
                                </svg>
                            </button>
                            <div class="callback__form-checkboxes-group-hidden">
                                <div class="callback__form-checkboxes-group-hidden-inner">
                                    <div class="callback__form-checkboxes">
                                        <label class="callback__form-checkbox">
                                            <input type="radio" name="date" value="1"
                                                class="callback__form-checkbox-input">
                                            <span class="callback__form-checkbox-text">
                                                Срочно
                                            </span>
                                        </label>
                                        <label class="callback__form-checkbox">
                                            <input type="radio" name="date" value="2"
                                                class="callback__form-checkbox-input" checked="">
                                            <span class="callback__form-checkbox-text">
                                                20 дней
                                            </span>
                                        </label>
                                        <label class="callback__form-checkbox">
                                            <input type="radio" name="date" value="3"
                                                class="callback__form-checkbox-input" checked="">
                                            <span class="callback__form-checkbox-text">
                                                30 дней
                                            </span>
                                        </label>
                                        <label class="callback__form-checkbox">
                                            <input type="radio" name="date" value="4"
                                                class="callback__form-checkbox-input">
                                            <span class="callback__form-checkbox-text">
                                                Более 30 дней
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="callback__form-fields">
                        <div class="callback__form-field">
                            <div class="callback__form-input-wrapper">
                                <input type="text" class="callback__form-input" name="your-name" required=""
                                    placeholder="Ваше имя">
                            </div>
                        </div>
                        <div class="callback__form-field">
                            <div class="callback__form-input-wrapper">
                                <input type="tel" class="callback__form-input" name="your-phone" required=""
                                    placeholder="Телефон">
                            </div>
                        </div>
                    </div>
                    <button class="callback__submit" type="submit">
                        Узнать стоимость
                    </button>
                    <div class="callback__policy-wrapper">


                        <label class="callback__policy">
                            <input type="checkbox" class="callback__policy-checkbox" name="policy" value="Y" required=""
                                checked="">
                            <span class="callback__policy-mark">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#checkmark"></use>
                                </svg>
                            </span>
                            <span class="callback__policy-text">
                                Нажимая кнопку, вы соглашаетесь c <a href="#">политикой конфиденциальности
                                </a>
                            </span>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>