<section class="new-life">
    <div class="new-life__content">
        <div class="new-life__image-wrapper">
            <img src="/images/new-life.webp" alt="" class="new-life__image">
        </div>
        <div class="new-life__text-content">
            <h2 class="new-life__heading">
                Новая жизнь старых украшений
            </h2>
            <div class="new-life__text">
                Мы принимаем старые изделия в счёт оплаты новых. Если у вас в шкатулке пылятся без дела устаревшие
                изделия, пришлите их фотографии нам для консультации в любой удобный мессенджер.
            </div>
            <div class="new-life__links">
                <a href="#" class="new-life__link">
                    Telegram
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#telegram"></use>
                    </svg>
                </a>
                <a href="#" class="new-life__link">
                    WhatsApp
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#whatsapp"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>