<section class="number-one">
    <div class="number-one__content">
        <div class="number-one__grid">
            <div class="number-one__grid-item">
                <img src="/images/number-one/1.webp" alt="" class="number-one__grid-image" loading="lazy">
            </div>
            <div class="number-one__grid-item">
                <img src="/images/number-one/2.webp" alt="" class="number-one__grid-image" loading="lazy">
            </div>
            <div class="number-one__grid-item">
                <img src="/images/number-one/3.webp" alt="" class="number-one__grid-image" loading="lazy">
            </div>
            <div class="number-one__grid-item">
                <img src="/images/number-one/4.webp" alt="" class="number-one__grid-image" loading="lazy">
            </div>
        </div>
        <div class="number-one__center">
            <div class="number-one__center-content">
                <h2 class="number-one__heading">
                    №1 в казани
                </h2>
                <div class="number-one__text">
                    в сегменте изготовления ювелирных изделий на заказ
                </div>
            </div>
        </div>
        <div class="number-one__grid">
            <div class="number-one__grid-item">
                <img src="/images/number-one/5.webp" alt="" class="number-one__grid-image" loading="lazy">
            </div>
            <div class="number-one__grid-item">
                <img src="/images/number-one/6.webp" alt="" class="number-one__grid-image" loading="lazy">
            </div>
            <div class="number-one__grid-item">
                <img src="/images/number-one/7.webp" alt="" class="number-one__grid-image" loading="lazy">
            </div>
            <div class="number-one__grid-item">
                <img src="/images/number-one/8.webp" alt="" class="number-one__grid-image" loading="lazy">
            </div>
        </div>
    </div>
</section>