<section class="process">
    <div class="process__content">
        <h2 class="process__heading js-reveal-heading">
            Каждый этап работы приближает нас к цели - мы добиваемся идеальной посадки
        </h2>
        <ol class="process__list js-fade-reveal">
            <li class="process__list-item">
                <div class="process__card js-accordion">
                    <button class="process__card-btn js-accordion-btn" type="button">
                        <span class="process__card-title">
                            Разрабатываем 3D-модель
                            по вашим пожеланиям
                        </span>
                        <span class="process__card-icon"></span>
                    </button>
                    <div class="process__card-text-wrapper js-accordion-content">
                        <div class="process__card-text">
                            Модель помогает согласовать вид изделия, рассчитать точную стоимость и подобрать
                            технологию изготовления.
                        </div>
                    </div>
                </div>
            </li>
            <li class="process__list-item">
                <div class="process__card js-accordion">
                    <button class="process__card-btn js-accordion-btn" type="button">
                        <span class="process__card-title">
                            Согласуем заказ и приступаем к созданию
                        </span>
                        <span class="process__card-icon"></span>
                    </button>
                    <div class="process__card-text-wrapper js-accordion-content">
                        <div class="process__card-text">
                            После согласования заказа мы приступаем к подбору материалов, а затем - к изготовлению
                            изделия.
                        </div>
                    </div>
                </div>
            </li>
            <li class="process__list-item">
                <div class="process__card js-accordion">
                    <button class="process__card-btn js-accordion-btn" type="button">
                        <span class="process__card-title">
                            Подтверждаем пробу в госорганах (ГИПН)
                        </span>
                        <span class="process__card-icon"></span>
                    </button>
                    <div class="process__card-text-wrapper js-accordion-content">
                        <div class="process__card-text">
                            Все изделия проходят обязательное подверждение и получают пробу в химической лаборатории
                            государственной пробирной палаты.
                        </div>
                    </div>
                </div>
            </li>
            <li class="process__list-item">
                <div class="process__card js-accordion">
                    <button class="process__card-btn js-accordion-btn" type="button">
                        <span class="process__card-title">
                            Проводим финишную
                            обработку
                        </span>
                        <span class="process__card-icon"></span>
                    </button>
                    <div class="process__card-text-wrapper js-accordion-content">
                        <div class="process__card-text">
                            После получения документации мы завершаем процесс производства. Проводим примерку и
                            дорабатываем
                            идеальную посадку.
                        </div>
                    </div>
                </div>
            </li>
            <li class="process__list-item">

                <div class="process__card js-accordion">
                    <button class="process__card-btn js-accordion-btn" type="button">
                        <span class="process__card-title">
                            Выбираем упаковку перед отправкой
                        </span>
                        <span class="process__card-icon"></span>
                    </button>
                    <div class="process__card-text-wrapper js-accordion-content">
                        <div class="process__card-text">
                            Готовое изделие отправляем в дизайнерской коробочке с ложементом в 3 цветах - глубокий
                            черный,
                            нежный белый, а также теплый оттенок дерева.
                        </div>
                    </div>
                </div>
            </li>
            <li class="process__list-item">
                <div class="process__card js-accordion">
                    <button class="process__card-btn js-accordion-btn" type="button">
                        <span class="process__card-title">
                            Доставляем заказы по всей России
                        </span>
                        <span class="process__card-icon"></span>
                    </button>
                    <div class="process__card-text-wrapper js-accordion-content">
                        <div class="process__card-text">
                            Готовое изделие отправляем в дизайнерской коробочке с ложементом в 3 цветах - глубокий
                            черный,
                            нежный белый, а также теплый оттенок дерева.
                        </div>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</section>