<section class="product" data-url="/images/ring">
    <div class="product__content">
        <h2 class="product__heading js-reveal-heading">
            Каждое изделие<br> проходит строгий<br>контроль качества
        </h2>
        <div class="product__sprite">
            <div class="product__items">
                <div class="product__item">
                    [ 01 ]
                </div>
                <div class="product__item">
                    [ 02 ]
                </div>
                <div class="product__item">
                    [ 03 ]
                </div>

            </div>
            <canvas></canvas>
        </div>
        <ol class="product__list">
            <li class="product__list-item">
                <div class="product__card">
                    <h3 class="product__card-title">
                        4 этапа контроля качества
                    </h3>
                    <div class="product__card-text">
                        Все изделия проходят четыре этапа проверки: после литья, монтировки, полировки и аппробацию в
                        госорганах.
                    </div>
                </div>
            </li>
            <li class="product__list-item">
                <div class="product__card">
                    <h3 class="product__card-title">
                        Сертифицированные металлы
                    </h3>
                    <div class="product__card-text">
                        Благородные металлы - золото, серебро, платина - сертифицированы госинспекцией пробирного
                        надзора. Мы закупаем пробы только на аффинажном заводе и не используем переплавленный лом.
                    </div>
                </div>
            </li>
            <li class="product__list-item">
                <div class="product__card">
                    <h3 class="product__card-title">
                        Подтвержденная чистота камней
                    </h3>
                    <div class="product__card-text">
                        Чистота драгоценных камней подтвержденасертификатами GIA. Мы используем только сертифицированные
                        бриллианты и приобретаем камни высочайшего качества на биржах
                        у лучших поставщиков.
                    </div>
                </div>
            </li>

        </ol>
        <div class="product__mobile-image-wrapper">
            <img src="/images/product-mobile.webp" alt="" class="product__mobile-image">
        </div>
    </div>
</section>