<section class="stages">
    <div class="stages__content">
        <ol class="stages__list">
            <li class="stages__list-item">
                <div class="stages__card">
                    <h3 class="stages__card-title">
                        Изготовление от 7 дней
                    </h3>
                    <div class="stages__card-text">
                        Создадим ваше уникальное изделие в срок от недели.
                    </div>
                </div>
            </li>
            <li class="stages__list-item">
                <div class="stages__card">
                    <h3 class="stages__card-title">
                        Доставка по России
                    </h3>
                    <div class="stages__card-text">
                        Доставим заказ в красивой упаковке в любую точку РФ.
                    </div>
                </div>
            </li>
            <li class="stages__list-item">
                <div class="stages__card">
                    <h3 class="stages__card-title">
                        Трансфер на примерку
                    </h3>
                    <div class="stages__card-text">
                        Проживание и трансфер для снятия мерок в подарок.
                    </div>
                </div>
            </li>
            <li class="stages__list-item">
                <div class="stages__card">
                    <h3 class="stages__card-title">
                        Пожизненная гарантия
                    </h3>
                    <div class="stages__card-text">
                        Сервисное обслуживание и бесплатная чистка в раз в год.
                    </div>
                </div>
            </li>
        </ol>
        <div class="stages__image-layers">
            <div class="stages__base-layer">
                <img src="/images/stages.webp" alt="" class="stages__image">
            </div>
            <div class="stages__image-layer">
                <div class="stages__image-wrapper">
                    <img src="/images/repair.webp" alt="" class="stages__image">
                </div>
            </div>
            <div class="stages__image-layer">
                <div class="stages__image-wrapper">
                    <img src="/images/stages.webp" alt="" class="stages__image">
                </div>
            </div>
            <div class="stages__image-layer">
                <div class="stages__image-wrapper">
                    <img src="/images/repair.webp" alt="" class="stages__image">
                </div>
            </div>
            <div class="stages__image-layer">
                <div class="stages__image-wrapper">
                    <img src="/images/specialists.webp" alt="" class="stages__image">
                </div>
            </div>
        </div>

    </div>
</section>