<section class="stories">
    <div class="stories__content">
        <h2 class="stories__heading">
            Больше историй и уникальных работ вы можете найти в наших социальных сетях, подписывайтесь!
        </h2>
        <div class="stories__slider js-stories-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="stories__slider-card-empty">

                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="stories__slider-card">
                            <div class="stories__slider-card-image-container">
                                <img src="/images/stories/1.webp" alt="" class="stories__slider-card-image">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="stories__slider-card">
                            <div class="stories__slider-card-image-container">
                                <img src="/images/stories/2.webp" alt="" class="stories__slider-card-image">
                            </div>
                        </a>
                    </div>
                    <div class="stories__slider-card-empty">

                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="stories__slider-card">
                            <div class="stories__slider-card-image-container">
                                <img src="/images/stories/3.webp" alt="" class="stories__slider-card-image">
                            </div>
                        </a>
                    </div>
                    <div class="stories__slider-card-empty">

                    </div>
                    <div class="stories__slider-card-empty">

                    </div>
                    <a href="#" class="stories__slider-card-social">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>

                    <div class="stories__slider-card-diagonal">

                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="stories__slider-card">
                            <div class="stories__slider-card-image-container">
                                <img src="/images/stories/4.webp" alt="" class="stories__slider-card-image">
                            </div>
                        </a>
                    </div>
                    <div class="stories__slider-card-empty">

                    </div>
                    <a href="#" class="stories__slider-card-social">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#vk"></use>
                        </svg>
                    </a>
                    <div class="stories__slider-card-empty">

                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="stories__slider-card">
                            <div class="stories__slider-card-image-container">
                                <img src="/images/stories/5.webp" alt="" class="stories__slider-card-image">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="stories__slider-card">
                            <div class="stories__slider-card-image-container">
                                <img src="/images/stories/6.webp" alt="" class="stories__slider-card-image">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="stories__slider-card">
                            <div class="stories__slider-card-image-container">
                                <img src="/images/stories/7.webp" alt="" class="stories__slider-card-image">
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="stories__slider-card">
                            <div class="stories__slider-card-image-container">
                                <img src="/images/stories/8.webp" alt="" class="stories__slider-card-image">
                            </div>
                        </a>
                    </div>
                    <div class="stories__slider-card-empty">

                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="stories__slider-card">
                            <div class="stories__slider-card-image-container">
                                <img src="/images/stories/9.webp" alt="" class="stories__slider-card-image">
                            </div>
                        </a>
                    </div>
                    <div class="stories__slider-card-empty">

                    </div>
                    <div class="stories__slider-card-empty">

                    </div>
                    <div class="stories__slider-card-empty">

                    </div>
                    <div class="stories__slider-card-diagonal">

                    </div>
                    <div class="stories__slider-card-empty">

                    </div>
                </div>
            </div>
        </div>
        <div class="stories__mobile-social">
            <a href="#" class="stories__stories-mobile-social-link">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#vk"></use>
                </svg>
            </a>
            <a href="#" class="stories__stories-mobile-social-link">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#instagram"></use>
                </svg>
            </a>
        </div>
    </div>
</section>