<section class="studio">
    <div class="studio__content">
        <picture>
            <source srcset="/images/quotes-mobile.svg" media="(max-width: 640px)" />
            <img src="/images/quotes.svg" alt="" class="studio__quotes" />
        </picture>
        <h2 class="studio__heading">
            Студия для меня больше, чем бизнес
        </h2>
        <div class="studio__text-content">
            <div class="studio__text">
                <p>
                    Ювелирная студия зародилась как семейный проект и даже получила нашу фамилию. Прошло почти 10 лет,
                    за это время наш коллектив пополнился выдающимися специалистами, мы выросли до производства полного
                    цикла на 200 м2, а портфолио превратилось в созвездие уникальных работ. Тем не менее, наше трепетное
                    и заботливое отношение к каждому заказу остается неизменным.
                </p>
                <p>
                    В каждой детали мы стремимся к идеальному сочетанию стиля и комфорта, уделяя особое внимание
                    внешнему виду и индивидуальной посадке. Думаю, поэтому почти 90% клиентов к нам возвращаются,
                    доверяя нам свои значимые моменты и памятные даты.
                </p>
            </div>
            <div class="studio__author">
                <div class="studio__author-name">
                    Айгуль Дасаева
                </div>
                <div class="studio__author-role">
                    Основатель ювелирной студии DASAEV
                </div>
            </div>
        </div>
        <div class="studio__years">
            <div class="studio__years-amount">
                9
            </div>
            <div class="studio__years-text">
                лет роста и<br> успешного развития
            </div>
        </div>
        <div class="studio__image-wrapper">
            <img src="/images/studio.webp" alt="" class="studio__image">
        </div>
    </div>
</section>