<section class="write-us">
    <div class="write-us__content">
        <h2 class="write-us__heading">
            Напишите нам и мы подберём решение под ваш бюджет
        </h2>
        <div class="write-us__text">
            Рассчитаем оптимальное сочетание драгоценного металла, размера изделия и технологии изготовления для
            достижения наилучшего результата. Согласовываем дизайн до тех пор, пока вы не будете довольны им на 100%.
        </div>
        <img src="/images/large-arrow-down.svg" alt="" class="write-us__arrow">
        <ul class="write-us__social-list">
            <li class="write-us__social-list-item">
                <a href="#" class="write-us__social-link">
                    Telegram
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#telegram"></use>
                    </svg>
                </a>
            </li>
            <li class="write-us__social-list-item">
                <a href="#" class="write-us__social-link">
                    Whatsapp
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#whatsapp"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>